/*Standard styling for the web page*/
body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
}

/*Menu for the pages*/
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #434242;
  position: relative;
  opacity: 1;
  z-index: 3;
}

.menu li a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  size: 10px;
}

li a:hover {
  background-color: rgb(165, 165, 165);
  color: black;
  border-radius: 20%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.col-1 {
  border: 1px solid grey;
}
#show-results {
  margin-left: 2%;
  margin-top: 5px;
}
.header {
  background-color: rgb(4, 238, 160);
}

button {
  margin: 4px;
}
form {
  width: 20%;
  margin-left: 1%;
}

/*Media queries*/
/*For tablets*/
@media only screen and (min-width: 600px) {
  /*Menu*/
  .menu li {
    font-size: 20px;
    padding-left: 10px;
    margin: 10px;
  }

  li {
    float: left;
  }
}
